@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply text-gray-500 dark:text-gray-400 text-sm bg-gray-100 dark:bg-gray-900 leading-normal;
        -webkit-font-smoothing: antialiased;
    }

    h1, .h1 {
        @apply text-4xl font-bold text-gray-900 dark:text-gray-100;
    }

    h2, .h2 {
        @apply text-3xl font-bold text-gray-900 dark:text-gray-100;
    }

    h3, .h3 {
        @apply text-2xl font-semibold text-gray-900 dark:text-gray-100;
    }

    h4, .h4 {
        @apply text-xl font-semibold text-gray-900 dark:text-gray-100;
    }

    h5, .h5 {
        @apply text-lg font-semibold text-gray-900 dark:text-gray-100;
    }

    h6, .h6 {
        @apply text-base font-semibold text-gray-900 dark:text-gray-100;
    }

    hr {
        @apply border-gray-200 dark:border-gray-600;
    }

    .heading-text {
        @apply text-gray-900 dark:text-gray-100;
    }
}


.video-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .fullscreen-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* This will ensure the video covers the entire container without distortion */
  }
  
  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    min-height: 100vh; /* Takes at least full viewport height */
  }
  
  .logo {
    width: 120px; /* Adjust as needed */
    height: auto;
    margin-bottom: 20px; /* Space between the logo and the form, adjust as needed */
  }
  .grey-bg{
    background-color: rgba(240, 240, 240, 0.5);
  }


/* Paginated Page Link */

.timeSlotList {
    list-style-type: none;
    padding: 0;
}

.timeSlotListItem {
    background-color: #ffffff; /* Light gray background */
    margin-bottom: 10px; /* Spacing between items */
    padding: 5px 10px; /* Padding inside each item */
    border: 1px solid #dee2e6; /* Light border */
    border-radius: 10px; /* Rounded corners */
    font-size: 13px; /* Font size */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* subtle shadow */
    font-weight: 700;
}




.right-column {
    display: flex;
    justify-content: flex-end; /* Aligns items to the end of the container */
}


.grid-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Adjust as needed */
    gap: 20px; /* Spacing between cards */
    padding: 20px;
}

.holiday-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background-color: #ffffff;
}

.holiday-title {
    margin: 0;
    font-size: 1.2em;
}

.holiday-date {
    color: #666;
}


.holiday-card {
    /* ... existing styles ... */
    position: relative;
    transition: box-shadow 0.3s;
}

.holiday-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

/* Style the delete icon as needed */
.delete-icon:hover {
    color: red; /* Example hover effect on the delete icon */
}


#filterButton {
    background-color: rgb(0, 136, 136); /* Green background */
    color: white; /* White text */
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
}

#filterButton:hover {
    background-color: rgb(27, 174, 174); /* Darker shade of green */
}



.day {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #f2f2f2; /* Light gray background for each day */
    border-radius: 5px;
}

.day p {
    margin: 0 10px 0 0;
    padding: 0;
    color: #333; /* Darker text for better readability */
    font-weight: bold;
}

.day .slot {
    padding: 2px 5px;
    margin-right: 5px;
    background-color: #e0e0e0; /* Slightly darker background for slots */
    border-radius: 3px;
    white-space: nowrap;
}

.no-availability {
    color: #888; /* Lighter color for 'No Availability' */
    font-style: italic;
    padding: 10px;
}


.schedule-container {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    height: 360px;
    width: 100%;
}

.schedule-container > div:not(:last-child) {
    border-right: 1px solid #ccc; /* Add a vertical line */
    padding-right: 10px; /* Add some padding to the right of each div */
    margin-right: 10px; /* Add some margin to the right of each div if needed */
}

/* If you have a fixed number of divs and you want them to have equal width, you can use the following */
.schedule-container > div {
    flex: 1; /* This will make each div take up equal space */
    padding: 0 10px; /* Add padding on both sides */
}

.day {
    text-align: center;
    margin: 0 5px;
    flex-basis: 14%; /* Divide the space evenly for 7 days */
}

.day.closed h6 {
    color: red; /* Indicate closed days */
}

.add-btn {
    display: block;
    margin: 10px auto; /* Center button */
    padding: 5px 10px;
    background-color: #4CAF50; /* Green background */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-btn:hover {
    background-color: #45a049;
}

h6 {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

p {
    font-size: 12px;
    margin: 5px 0;
}

.day {
    border: 1px solid #ddd; /* Optional: adds a border around each day block */
    padding: 5px;
    margin-bottom: 10px; /* Space between each day block */
    background-color: #f8f8f8; /* Optional: sets a background color for the day block */
}

.day h6 {
    margin: 0 0 10px 0; /* Adds space below the day name */
    padding-bottom: 5px; /* Optional: adds some padding below the day name */
    border-bottom: 1px solid #ddd; /* Optional: adds a separator between the day name and times */
}

.day div p {
    margin: 2px 0; /* Adds space between the time slots */
}


/* .react-datepicker-popper {
    z-index: 9999 !important;
} */


.slot-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slots-delete-icon {
    cursor: pointer;
    border: none;
    background: none;
}

.slots-delete-icon:hover {
    color: red; /* Example hover effect on the delete icon */
}

.ant-picker-ok .ant-btn-primary {
    background-color: #4CAF50; /* New background color */
    border-color: #4CAF50; /* New border color */
    color: #fff; /* Text color */
}

.ant-picker-ok:hover .ant-btn-primary:hover,
.ant-picker-ok .ant-btn-primary:focus {
    background-color: #3E8E41; /* Slightly darker color on hover/focus */
    border-color: #3E8E41;
}

.time-picker-container {
    display: flex;
    justify-content: space-around; /* Or 'space-between', 'center', etc. */
}

.time-picker-group {
    display: flex;
    flex-direction: column; /* Aligns items vertically */
    align-items: center; /* Centers items horizontally */
    margin: 0 10px; /* Optional: Adds some space between the groups */
}


.services-select-box {
    font-size: 12px;
}

.services-select-box__control {
    font-size: 9px;
}



.switcher-container {
    margin-bottom: 20px;
}



.right-column {
    margin-right: 1px;
    align-self: flex-end;
}
